/*


#FFBA49 - Pastel Orange
#20A39E - Light Sea Green - darker variant 00716C
#EF5B5B - Sunset Orange
#23001E - Middle Red Purple
#A4A9AD - Dark Medium Gray - lighter variant D6D8D9

*/

.bg-orange {
	background-color: #FFBA49!important;
}

		body {
			font-family: 'Quando', serif;
      background-color: #D6D8D9;
      color: #23001E;
			padding-top: 5rem;
		}

.starter-template {
  text-align: center;
}

#title {
 /* background-color: #D6D8D9; */ 
    display: inline-block;
    width: 20vw;
    height: 2.5em;
    text-align: left;
	font-size:1.5em;
	top:0;
	left:10vw;
}

#top-menu {
 /* background-color: #D6D8D9; */
	    
    display: inline-block;
    width: 70vw;
    height: 2.5em;
    text-align: center;
	font-size:1.5em;
	top:0;
}


.top-menu-links {
 margin-left:50px;
	margin-right:50px;
	display:inline-block;
	margin-top: .75em;
	cursor: pointer;
}

#banner {
	position: fixed;
 background-color: #FFBA49;
	/* height: 14em; */
	
}

#banner h1 {
    margin-top: 30px;
      color: #D6D8D9;
      /* font-size: 10em;
      text-align: center; */
	font-weight: 1;
}

a:link {
  color: #20A39E;
}

a:visited {
  color: #00716C;
}

a:hover {
  color: #00716C;
}

a:active {
  color: #00716C;
}

#sidebar {
    text-align: center;
	display: inline-block;
	background-color: #20A39E;
	
}
#assignments {
    text-align: center;
	background-color: #20A39E;
	
}

.sidebar-lessons {
	background-color: #20A39E;
    width: 10vw;
        min-height: 4vw;
    text-align: center;
    font-size: 1em;
    margin: auto;
    display: block;
    /* line-height: 5vw; */
	margin-bottom: 10px;
	cursor: pointer;
	border-radius: 10px;
	    overflow: hidden;
	padding-top: 10px;
}

#content {
	    display: inline-block;
    margin-left: 12vw;
    width: 50vw;
    margin-right: 20vw;
    vertical-align: top;
    margin-top: 40px;
	
}
.post {
    min-height: 15em;	
    max-height: 30em;
	overflow: auto;
    border-color: #FFBA49;
    border-width: 10px;
    border-style: solid;
    border-radius: 10px;
    margin-bottom: 10px;
	padding: 15px;
}
}

.pinned {
background-color:	#FFBA49;
}

.webcam {
z-index: -1000;
    position: absolute;
    width: 1px;
}

.faceoverlay {
min-width: 50%;
    width: 20vw;

}
